extends ../layout.pug

block prepend styles
  link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
  div(class='breadcrumb')
    li= title
  form(id='spaceStation-add-form' name='spaceStation-add-form' class='form-inline' action='')
    div(class='form-group')
      div(class='col-md-3')
        label(for='name') Number
      div(class='col-md-9')
        input(id='number' name='number' value='' class='form-control')
    div(class='form-group')
      div(class='col-md-3')
        label(for='name') Capacity
      div(class='col-md-9')
        input(id='capacity' name='capacity' value='' class='form-control')        
    div(class='form-group')
      div(class='col-md-3')
        label(for='name') Requirement
      div(class='col-md-9')
        input(id='requirement' name='requirement' value='' class='form-control')     
    div(class='form-group')
      div(class='col-md-12')
        button(type='submit' class='btn btn-primary') Create
    div.list-wrapper
      table(id='spaceStation-list')
block append scripts
  script(src='/static/js/models/spaceStation.js')
  script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
  script(src='/static/js/views/spaceStation.js')
      